
/***********************
COLORS
************************/

/*wine: #4d243d
light slate: #ecdcc9
dark slate: #cac2b5
light cream: #edd4b2
dark cream: #d0a98f*/

/***********************
GENERAL STYLING
***********************/

.container {
  width: 1000px;
  margin: 0 auto;
  max-width: 90%;
}

.hidden {
  display: none;
}


a:link,
a:visited,
a:hover,
a:active {
  color: indigo;
}

/*******************
  BASE FONT STYLES
*******************/

h1,
h3,
h4,
h5,
figcaption,
kbd {
  font-family: 'Rock Salt', cursive;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  color: indigo;
  text-shadow: 2px 2px 4px rgba(50,50,100,0.3);
  }

h2,
span,
p {
  font-family: 'Poiret One', cursive;
}

p {
  font-weight: 900;
}

a {
  text-decoration: none;
}

/****************************************************************
MAIN BODY
*****************************************************************/

.audioControls {
	max-width: 30%;
}

ul, 
li,
.crlButton ul li {
	list-style: none;
	display: inline-block;
}

#kiki,
#lola {
	height: 200px;
}

 p .speech {
	width: 250px;
}

.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
  top: -150px;
}

.speech.lola {
  top: -120px;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech.lola:before {
   left: 90px;
   transform:skew(50deg);
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech.lola:after {
  left: 90px;
  transform:skew(50deg);
}

.svg-inline--fa {
	font-size: 27px;
}

.svg-inline--fa.fa-play-circle {
	font-size: 35px;
}

.instruments li {
	border: solid black 1px;
	margin: 4px;
	padding: 2px;
}

.flaticon-maracas:before,
.flaticon-drum:before,
.flaticon-chimes:before {
	font-size: 30px;

}

.isActive {
	transform: scale(1.2);
}

.counterPos {
    border: solid red 2px;
}